<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
	<meta charset="UTF-8">
	<title>Choose file to upload</title>
    <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/static/css/form-file.almost-flat.min.css">
</head>
<!--<body class="uk-panel uk-height-1-1">-->
<body>

    <div class="uk-container uk-container-center" id="wrapper">
        <div class="uk-panel uk-panel-box uk-width-1-1 uk-text-center">
            <h4 style="display: inline;">Welcome, <strong>{{.User.Name}}</strong></h4>
            <a href="/logout" class="uk-button">Logout</a>
            <!--<input class="uk-button uk-button-primary" type="button" value="Logout" onclick="logOut()">-->
        </div>
        <br/>

        <div class="uk-panel uk-width-1-1" >
            <form class="uk-form" action="/upload" method="POST" enctype="multipart/form-data">
                <div class="uk-form-file">
                    <button class="uk-button">Choose file</button>
                    <input type="file" name="file" id="form-file">
                    
                </div>
                <input class="uk-button" type="submit" name="submit" value="Submit">
            </form>
        </div>
        <br/>

        <div class="uk-panel uk-panel-header">
            <h4 class="uk-panel-title">List of files</h4>
            <table class="uk-table">
                <!--<caption>List of files</caption>-->
                <tr>
                    <th><input type="checkbox" id="global_checkbox" onchange="checkAll()"/></th>
                    <th>#</th>
                    <th>Filename</th>
                    <th>URL</th>
                </tr>
                {{range .Entries}}
                <tr>
                    <td><input type="checkbox" class="row_checkbox" id="{{.ID}}"/></td>
                    <td>{{.ID}}</td>
                    <td>{{.Filename}}</td>
                    <td><a href="{{.URL}}">{{.URL}}</a></td>
                </tr>
                {{end}}
            </table>
        </div>
        <br/>
        <input class="uk-button uk-button-danger" type="button" value="Delete selected files" onclick="deleteRows()"/>
        <br/>
        <br/>
    </div>
	

    <script type="text/javascript">
        function checkAll() {
            let isGlobalChecked = document.getElementById('global_checkbox').checked;
            let row_checkboxes = document.getElementsByClassName('row_checkbox');
            for (var i=0; i < row_checkboxes.length; i++ ) {
                row_checkboxes[i].checked = isGlobalChecked;
            }
        }

        function sendData(ids) {
            let XHR = new XMLHttpRequest();
            let FD = new FormData();
            let idsstring = ids.join(',');
            FD.append('id', idsstring);
            XHR.addEventListener('load', function(event) {
                window.location.reload();
            });
            XHR.addEventListener('error', function(event) {
               alert('Error!')
            });
            XHR.open('DELETE', '/upload');
            XHR.send(FD);
        }

        function deleteRows() {
            let checkedIDs = [];
            let row_checkboxes = document.getElementsByClassName('row_checkbox');
            for (var i=0; i < row_checkboxes.length; i++ ) {
                if (row_checkboxes[i].checked === true) {
                    checkedIDs.push(row_checkboxes[i].id)
                }
            }
            if (checkedIDs.length === 0) {
                return
            }
            if (confirm('Delete selected files?')) {
                sendData(checkedIDs);
            }
        }

        // function logOut() {
        // 	window.location.href = '/logout';
        // }
    </script>

</body>
</html>